<div>
    <mat-card class="ad"><button mat-raised-button color="primary" style="width: 100%; display: block;">View All Job Solution Questions</button></mat-card>
    <mat-card class="ad"><button mat-raised-button color="warn" style="width: 100%; display: block;">View All Model Test</button></mat-card>
    <div class="card-container">
        <mat-card>
            <mat-card-title>Create Model Test</mat-card-title>
        </mat-card>
        <mat-card>
            <mat-card-title routerLink="/register">Sign Up</mat-card-title>
        </mat-card>
        <mat-card routerLink="/login">
            <mat-card-title>Login</mat-card-title>
        </mat-card>
        <mat-card>
            <mat-card-title>Participate Model Test</mat-card-title>
        </mat-card>
        <mat-card>
            <mat-card-title>BCS Preparation Progress</mat-card-title>
        </mat-card>
        
    </div>
</div>