<div class="container">
    <mat-card class="ad"><button mat-raised-button color="warn" style="width: 100%;" routerLink="/all-tests">Admin Panel</button></mat-card>
    <div class="card-container">
        <mat-card routerLink="/admin/manage-users">
            <p>Manage Users</p>
        </mat-card>
        <mat-card routerLink="/login">
            <p>Manage Exams</p>
        </mat-card>
    </div>
    <div class="description">
        <!-- <p class="title">Welcome to MCQ</p>
        <div class="content">
                
        </div> -->
    </div>
</div>