<div class="container">
    <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input type="text" name="title" ngModel placeholder="Title" required>
        <select ngModel name="subject" id="subject" required>
            <option value="" disabled selected>Select a subject</option>
            <option *ngFor="let subject of subjects" [value]="subject">{{subject}}</option>
        </select>
        <select ngModel name="duration" id="duration" required>
            <option value="" disabled selected>Select exam duration</option>
            <option *ngFor="let duration of duration_keys" [value]="duration">{{duration}}</option>
        </select>
        <select ngModel name="negative" id="negative" required>
            <option value="" disabled selected>Select Negative Marks</option>
            <option *ngFor="let mark of negativeMarks" [value]="mark">{{mark}}</option>
        </select>
        <div class="questions" style="padding: 0;">
            <button (click)="addQuestion()" type="button" mat-raised-button color="primary">Add more questions</button>
            <button (click)="removeQuestion()" type="button" mat-raised-button color="warn">Remove Last question</button>
            <div style="margin: 10px 0;">Note: Check the boxes to include Math Symbols</div>
            <div class="question" *ngFor="let number of questions_keys;">
                <mat-checkbox color="primary" (change)="questions[number]['hasMath']=$event.checked"></mat-checkbox>
                <input type="text" name="{{'question' + number}}" [(ngModel)]="questions[number]['title']" [placeholder]="'Question ' + increaseOne(number)" required>
                <span 
                    [mathjax]="[questions[number]['title']]" 
                    *ngIf="questions[number]['title'] && questions[number]['hasMath']" 
                    style="font-size: 20px; margin: 10px 0;">
                    {{+number + 1}}. \( {{ '{}' }} \)
                </span>
                <div class="options">
                    <div class="option">
                        <mat-checkbox (change)="questions[number][0]['hasMath']=$event.checked"></mat-checkbox>
                        <input type="text" [(ngModel)]="questions[number][0]['text']"  placeholder="Option 1" name="option{{number}},1" required>
                    </div>
                    <span 
                        [mathjax]="[questions[number][0]['text']]"
                        *ngIf="questions[number][0]['text'] && questions[number][0]['hasMath']"
                        style="font-size: 13px; margin: 5px 0;">
                        1. \( {{ '{}' }} \)
                    </span>

                    <div class="option">
                        <mat-checkbox (change)="questions[number][1]['hasMath']=$event.checked"></mat-checkbox>
                        <input type="text" [(ngModel)]="questions[number][1]['text']"  placeholder="Option 2" name="option{{number}},2" required>
                    </div>
                    <span 
                        [mathjax]="[questions[number][1]['text']]" 
                        *ngIf="questions[number][1]['text'] && questions[number][1]['hasMath']" 
                        style="font-size: 13px; margin: 5px 0;">
                        2. \( {{ '{}' }} \)
                    </span>

                    <div class="option">
                        <mat-checkbox (change)="questions[number][2]['hasMath']=$event.checked"></mat-checkbox>
                        <input type="text" [(ngModel)]="questions[number][2]['text']"  placeholder="Option 3" name="option{{number}},3" required>
                    </div>
                    <span 
                        [mathjax]="[questions[number][2]['text']]" 
                        *ngIf="questions[number][2]['text'] && questions[number][2]['hasMath']" 
                        style="font-size: 13px; margin: 5px 0;">
                        3. \( {{ '{}' }} \)
                    </span>

                    <div class="option">
                        <mat-checkbox (change)="questions[number][3]['hasMath']=$event.checked"></mat-checkbox>
                        <input type="text" [(ngModel)]="questions[number][3]['text']"  placeholder="Option 4" name="option{{number}},4" required>
                    </div>
                    <span 
                        [mathjax]="[questions[number][3]['text']]" 
                        *ngIf="questions[number][3]['text'] && questions[number][3]['hasMath']" 
                        style="font-size: 13px; margin: 5px 0;">
                        4. \( {{ '{}' }} \)
                    </span>
                </div>
                <div class="question-extras">
                    <input type="number" name="mark{{number}}" [(ngModel)]="questions[number]['marks']" placeholder="Marks" required>
                    <label>Select correct option: </label>
                    <select [(ngModel)]="questions[number]['ca_index']" [name]="'ca_number' + number" [id]="'ca_number' + number" required>
                        <option *ngFor="let index of ca_indexes" [value]="index - 1">{{index}}</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="f.invalid" *ngIf="!isLoading">Create</button>
        <mat-spinner style="margin: 5px auto; padding: 0;" diameter="40" *ngIf="isLoading"></mat-spinner>
        
    </form>
</div>