.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.form {
    display: flex;
    flex-direction: column;
    user-select: none;
    border: 1px #240090 solid;
    width: 90%;
}

.form> * {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

.form>input {
  border: 2px solid royalblue;
}

.form>button {
  color: #fff;
  background-color: #240090;
  cursor: pointer;
}

.form>button:hover {
  background-color: #f44336;
}

.form>button:disabled {
  background-color: royalblue;
  cursor: auto;
}
label {
    margin-left: 5px;
}
// .option {
//   display: inline-block;
// }
.questions > button {
  margin-right: 5px;
}
.question {
  margin: 10px 0 0 0;
}
.question>input,
.question>textarea,
.options>input,
.option>input,
.question-extras>input {
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
  border: 2px solid royalblue;
}

.question>.question-extras>div>select {
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  border: none;
  border: 2px solid royalblue;
}
.correct-label {
  background-color: #240090;
  padding: 5px;
  border-radius: 5px;
}
form>.validation {
  color: #f44336;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 5px;
  padding: 5px;
}
.note {
  margin: 10px 0;
  background-color: #f44336;
  padding: 5px;
  border-radius: 5px;
}
.note > span {
  margin: 0 auto;
}
mat-checkbox {
  margin: 5px;
  margin-left: 0;
}