<div class="container">
    <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input type="text" name="title" ngModel placeholder="Title">
        <select [ngModel]="subjects[0]" name="subject" id="subject">
            <option *ngFor="let subject of subjects" [value]="subject">{{subject}}</option>
        </select>
        <select [ngModel]="duration_keys[0]" name="duration" id="duration">
            <option *ngFor="let duration of duration_keys" [value]="duration">{{duration}}</option>
        </select>
        <div class="questions">
            <button (click)="addQuestion()" type="button">Add more Questions</button>
            <div class="question" *ngFor="let number of questions_keys;">
                <input ngModel type="text" name="{{'question' + number}}" [(ngModel)]="questions[number]['title']" [placeholder]="'Question ' + increaseOne(number)">
                <div class="options">
                    <input type="text" [(ngModel)]="questions[number][0]"  placeholder="Option 1" name="option{{number}},1">
                    <input type="text" [(ngModel)]="questions[number][1]"  placeholder="Option 2" name="option{{number}},2">
                    <input type="text" [(ngModel)]="questions[number][2]"  placeholder="Option 3" name="option{{number}},3">
                    <input type="text" [(ngModel)]="questions[number][3]"  placeholder="Option 4" name="option{{number}},4">
                </div>
            </div>
        </div>
        <button type="submit">Create</button>
    </form>
</div>