// .form > input {
//     padding: 10px;
//     border-radius: 5px;
//     border: 1px gray solid;
// }
// .form > button {
//     margin: 10px 5px;
// }
mat-toolbar {
    width: 100%;
    background-color: #240090;
    position: sticky;
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    top: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 1000;
    /* Ensure that your app's content doesn't overlap the toolbar */
}
.home {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    margin-right: 5px;
}
.spacer {
    flex: 1 1 auto;
}
@media only screen and (max-width: 600px) {
  .home {
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .spacer {
    display: none;
  }
  .home {
      flex-grow: 1;
  }
}