.form > input {
    padding: 10px;
    border-radius: 5px;
    border: 1px gray solid;
}
.form > button {
    margin: 10px 5px;
}
mat-toolbar {
    width: 100%;
    background-color: #240090;
    position: sticky;
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    top: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 1000;
    /* Ensure that your app's content doesn't overlap the toolbar */
}