<div class="container">
    <button routerLink="/login" mat-raised-button color="warn" *ngIf="!isAuthenticated" style="margin-top: 5px;">Login to participate</button>
    <button printSectionId="print" [printTitle]="exam.title" ngxPrint [useExistingCss]="true" *ngIf="!examRunning && isAuthenticated && newSubmission" mat-raised-button color="primary" style="margin-top: 5px;">Print</button>
    <div class="board" *ngIf="exam && !isLoading" id="print">
        <div class="header">
            <p class="title" >{{exam.title}}</p>
            <p >Total Marks: {{exam.totalMarks}}</p>
            <p >Negative Marks: {{exam.negativeMarks}}</p>
            <p >Time: {{exam.duration / 60}} minutes</p>
            <p *ngIf="examRunning">Time Remaining: {{timeString}} minutes</p>
            <p>Created By: {{exam.creator}} </p>
        </div>
        
        <button *ngIf="!examRunning && isAuthenticated && !examSubmitted && exam.submissionEnabled" mat-raised-button color="primary" style="margin-top: 5px; width: 100%;" (click)="onStart()">Click to Start</button>
        <div class="editable" *ngIf="isCreator && !examRunning && isAuthenticated && !examSubmitted">
            <button mat-raised-button color="primary"  [routerLink]="['/all-tests/edit', exam.id]">Edit</button>
            <button mat-raised-button color="accent"  (click)="onChangeSubmission()" *ngIf="!exam.submissionEnabled">Enable Submission</button>
            <button mat-raised-button color="accent" (click)="onChangeSubmission()" *ngIf="exam.submissionEnabled">Disable Submission</button>
            <button style="margin-right: 0;" mat-raised-button color="warn" (click)="onDelete()">Delete</button>
        </div>
        <p class="marks" *ngIf="!examRunning && isAuthenticated && !examSubmitted && exam.participated" style="text-align: center;">You have already completed this exam with marks</p>
        <p class="marks" *ngIf="!examRunning && isAuthenticated && !examSubmitted && exam.participated" style="font-size: 25px;" [style]="exam.marksObtained >= 1 ? 'color: limegreen':'color: brown'"> {{exam.marksObtained}}</p>
        <p class="marks" *ngIf="errorMessage"> {{errorMessage}}</p>
        <div class="questions" *ngIf="isAuthenticated && examRunning">
            <div class="question" *ngFor="let question of exam.questions; let i = index;">
                <p [mathjax]="[question.title]" *ngIf="question.hasMath" class="question-title" style="margin: 5px;">{{i + 1}}. \( {{ '{}' }} \)</p>
                <p class="question-title" *ngIf="!question.hasMath" style="margin: 5px;">{{i + 1}}. {{question.title}}</p>
                <div class="options">
                    <div 
                      class="option" 
                      *ngFor="let option of question.options;"
                      (click)="itemSelected(option.text, i)"
                      [ngClass]="question.providedAnswer.text === option.text ? 'selected': ''">
                      <p *ngIf="option.hasMath" [mathjax]="[option.text]">\( {{ '{}' }} \)</p>
                      <p *ngIf="!option.hasMath">{{option.text}}</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="marks" *ngIf="!examRunning && isAuthenticated &&  newSubmission">Your Score is: {{exam.marksObtained}}</p>
        <p class="marks" *ngIf="!examRunning && isAuthenticated &&  newSubmission">Negative Marks: {{exam.negativeMarks}}</p>
        <div class="questions" *ngIf="!examRunning && isAuthenticated && newSubmission">
            <div class="question" *ngFor="let question of exam.questions; let i = index;">
                <p [mathjax]="[question.title]" *ngIf="question.hasMath" class="question-title" style="margin: 5px;">{{i + 1}}. \( {{ '{}' }} \)</p>
                <p class="question-title" *ngIf="!question.hasMath" style="margin: 5px;">{{i + 1}}. {{question.title}}</p>
                <div class="options">
                    <div 
                      class="option" *ngFor="let option of question.options;"
                      [ngClass]="[(question.correctAnswer.text === option.text) ? 'opt-correct': '', question.providedAnswer.text === option.text ? 'incorrect': '']">
                      <p *ngIf="option.hasMath" [mathjax]="[option.text]">\( {{ '{}' }} \)</p>
                      <p *ngIf="!option.hasMath">{{option.text}}</p>
                    </div>
                </div>
                <p style="margin-top: 0; margin-bottom: 10px;">Score: {{(question.providedAnswer.text === question.correctAnswer.text) ? (question.marks + '/' + question.marks): ('0/' + question.marks)}}</p>
            </div>
        </div>
    </div>
    <button *ngIf="!isLoading && examRunning" mat-raised-button color="primary" style="margin-top: 5px;" (click)="onSubmit()">Submit</button>
    <mat-spinner *ngIf="isLoading" [diameter]="50" style="margin: 30vw auto;"></mat-spinner>
</div>