.container {
    color: #fff;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.board {
    
    margin-top: 10px;
}
.board > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid royalblue;
}
.header > * { 
    text-align: center;
}
.board > .questions {
    margin-top: 5px;
    border: 2px solid royalblue;
}
.title {
    margin: 0;
    font: 4em sans-serif;
    text-align: center;
}
.question > p {
    margin: 0 10px;
    font-size: 20px;
}
.options {
    display: flex;
    flex-wrap: wrap;
    
}
.options>.option {
    margin: 10px;
    margin-top: 0;
    padding: 5px;
    border: 1px royalblue solid;
    border-radius: 5px;
    cursor: pointer;
    min-width: 0;
    font-size: 13px;
    flex: 1 0 21%;
}
.option > p { // Center vertically
    margin: 0 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}
.options > .selected {
    background-color: royalblue;
}
.incorrect {
    background-color: #f44336;
}
.opt-correct {
    background-color: limegreen;
}
.marks {
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
p {
    margin: 0 0 5px 0;
}
.question-title {
    color: inherit; // Helps while printing
}
.editable {
    display: flex;
    flex-wrap: wrap;
}
.editable > * {
    flex-grow: 1;
    margin: 5px 5px 5px 0;
}
@media only screen and (min-width: 600px) {
  .options>.option {
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .editable {
    flex-direction: column;
  }

  .editable>* {
    margin: 5px 0 0 0;
  }
}
