<div class="container">
    <button routerLink="/login" mat-raised-button color="warn" *ngIf="!isAuthenticated">Login to participate</button>
    <div class="board" *ngIf="exam && !isLoading">
        <div class="header">
            <p class="title" mat-card-title>{{exam.title}}</p>
            <p mat-card-subtitle>Total Marks: {{exam.totalMarks}}</p>
            <p mat-card-subtitle>Time: {{exam.duration / 60}} minutes</p>
            <p mat-card-subtitle *ngIf="examRunning">Time Remaining: {{timeString}} minutes</p>
            <p mat-card-subtitle>Created By: {{exam.creator}} </p>
        </div>
        <button *ngIf="!examRunning && isAuthenticated && !examSubmitted" mat-raised-button color="primary" style="margin-top: 5px; width: 100%;" (click)="onStart()">Click to Start</button>
        <p class="marks" *ngIf="!examRunning && isAuthenticated && !examSubmitted && exam.participated">You have already completed this exam.</p>
        <div class="questions" *ngIf="isAuthenticated && examRunning">
            <div class="question" *ngFor="let question of exam.questions; let i = index;">
                <p>{{i + 1}}. {{question.title}}</p>
                <div class="options">
                    <p class="option" *ngFor="let option of question.options;" (click)="itemSelected(option, i)" [ngClass]="question.providedAnswer === option ? 'selected': ''">{{option}}</p>
                </div>
            </div>
        </div>
        <p class="marks" *ngIf="!examRunning && isAuthenticated &&  newSubmission">Your Score is: {{exam.marksObtained}}</p>
        <div class="questions" *ngIf="!examRunning && isAuthenticated &&  newSubmission">
            <div class="question" *ngFor="let question of exam.questions; let i = index;">
                <p>{{i + 1}}. {{question.title}}</p>
                <div class="options">
                    <p class="option" *ngFor="let option of question.options;"  
                        [ngClass]="[(question.correctAnswer === option ) ? 'opt-correct': '', question.providedAnswer === option ? 'incorrect': '']"
                    >{{option}}</p>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="!isLoading && examRunning" mat-raised-button color="primary" style="margin-top: 5px;" (click)="onSubmit()">Submit</button>
    <mat-spinner *ngIf="isLoading" [diameter]="50" style="margin: 30vw auto;"></mat-spinner>
</div>