.container {
  color: #fff;
}

.list-item {
  background-color: rgba(68, 65, 225, 0.445);
  color: #fff;
  margin: 5px;
  cursor: pointer;
  display: flex;
  padding: 5px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
}

.btn-group>button {
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  .list-item {
    cursor: pointer;
    display: block;
    padding: 5px;
  }
}

.list-item>div>p {
  margin: 5px;
}
.title {
  background-color: rgba(68, 65, 225, 0.445);
  color: #fff;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

button {
  margin: 0 5px;
}

.list-item:hover {
  box-shadow: 0 8px 8px 8px rgba(71, 68, 243, 0.2),
    0 8px 8px 0 rgba(68, 71, 243, 0.2),
    0 8px 8px 0 rgba(94, 68, 243, 0.2) !important;
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1),
    box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}